.algorithmes {
    padding: 2rem 0;
    width: 100%;
}

.algorithmesRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
    
.algorithmesSvg {
    max-height: 5em;
    width: 5em;
    border: 1px solid white;
    border-radius: 10px;
}
