.doc {
    padding: 2rem 0;
    width: 130%;
}

.docRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
    
.docSvg {
    height: 7em;
    width: 23em;
    border: solid 1px black;
    padding: 1vw 2vh 1vw 2vh;
    background-color: skyblue;
    border-radius: 50px;
}

