article li.algo-menu {
    border: 1px solid white;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    width: 50%;
    background-color: wheat;
    color: black;
}

article ul li.algo-menu a {
    color: black;
}